/* COMMON */
#article-content::after,
#article-comments::after,
#like-article::after {
  content: "";
  background-image: linear-gradient(to right, var(--color-text-grey, #000) 14%, rgb(255 255 255 / 0%) 0%);
  background-position: bottom;
  background-size: 15px 2px;
  background-repeat: repeat-x;
  padding-bottom: 66px;
  margin-bottom: 66px;
  grid-column: 3 / span 8;
}

.like {
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
}

.like.add-like {
  cursor: pointer;
}

/* ARTICLE HEADER */
.post.type-post > header {
  background-color: var(--color-jaune-poste, #ffcb05);
  padding-top: 100px;
  padding-inline: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0 20px;
  margin-bottom: 80px;
}

.post.type-post > header > * {
  grid-column: 6 / span 5;
}

.post.type-post > header > img {
  grid-column: 3 / span 3;
  grid-row: 1 / span 4;
  height: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}

.post.type-post > header > h1 {
  color: var(--color-bleu-poste, #003da5);
  margin-block: 18px;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.post.type-post > header .taxonomies {
  color: var(--color-lit2vin, #a71680);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.post.type-post > header .infos {
  display: flex;
  gap: 0.2rem;
  color: var(--color-text-grey, #000);
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.post.type-post > header .infos .value {
  color: var(--color-lit2vin, #a71680);
}

.post.type-post > header .document {
  grid-column-end: span 4;
  margin-block: 40px;
  border-radius: 10px;
  border: 2px solid var(--color-lit2vin, #a71680);
  padding: 21px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.post.type-post > header .document p {
  color: var(--color-bleu-poste, #003da5);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
}

.post.type-post > header .like {
  grid-column: 10 / 11;
  margin-block: 40px;
  border-radius: 10px;
  border: 2px solid var(--color-lit2vin, #a71680);
  padding: 21px;
  position: relative;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.post.type-post > header .like.add-like {
  padding-right: 32px;
}

.post.type-post > header .like.add-like::after {
  content: url("data:image/svg+xml,%3Csvg width='13' height='13' viewBox='0 0 13 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.56 5.83C12.76 5.83 12.86 5.93 12.86 6.13V6.91C12.86 7.11 12.76 7.21 12.56 7.21H7.37001C7.29001 7.21 7.25001 7.25 7.25001 7.33V12.4C7.25001 12.6 7.15001 12.7 6.95001 12.7H6.17001C5.97001 12.7 5.87001 12.6 5.87001 12.4V7.33C5.87001 7.25 5.83001 7.21 5.75001 7.21H0.56001C0.36001 7.21 0.26001 7.11 0.26001 6.91V6.13C0.26001 5.93 0.36001 5.83 0.56001 5.83H5.75001C5.83001 5.83 5.87001 5.79 5.87001 5.71V0.369999C5.87001 0.17 5.97001 0.0699997 6.17001 0.0699997H6.95001C7.15001 0.0699997 7.25001 0.17 7.25001 0.369999V5.71C7.25001 5.79 7.29001 5.83 7.37001 5.83H12.56Z' fill='%23A71680'/%3E%3C/svg%3E%0A");
  color: var(--color-lit2vin, #a71680);
  border: 2px solid var(--color-lit2vin, #a71680);
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  width: 32px;
  height: 32px;
  background: var(--color-jaune-poste, #ffcb05);
  box-shadow: 0 4px 10px rgb(0 0 0 / 25%);
  padding: 5px;
}

/* ARTICLE CONTENT */

#article-content h2 {
  font-family: var(--font-title);
  color: var(--color-lit2vin, #a71680);
  font-weight: 500;
  font-size: 1.9rem;
  margin-bottom: 1.9rem;
}

#article-content h3 {
  color: var(--color-lit2vin, #a71680);
  font-family: var(--font-title);
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

#article-content p {
  font-family: var(--font-text);
  color: var(--color-text-grey, #000);
  font-size: 1.1rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

#article-content p > a {
  color: var(--color-lit2vin, #a71680);
  text-decoration: underline;
}

#article-content p > a:hover {
  color: var(--color-bleu-poste, #003da5);
}

#article-content > img {
  margin-block: 45px;
  border-radius: 10px;
}

#article-content ul {
  color: var(--color-text-grey, #000);
  font-family: var(--font-text);
  font-size: 1.1rem;
  line-height: 2rem;
  padding-left: 44px;
  margin-bottom: 1rem;
}

#article-content ul > li {
  position: relative;
}

#article-content ul > li::before {
  content: "";
  background-color: var(--color-lit2vin, #a71680);
  width: 9px;
  height: 3px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: -18px;
}

#article-content blockquote {
  padding-inline: 35px;
  position: relative;
  margin-top: 120px;
  margin-bottom: 65px;
}

#article-content blockquote::before {
  content: url('../images/icons/cite.svg');
  position: absolute;
  bottom: calc(100% + 13px);
  left: 0;
}

#article-content blockquote p {
  color: var(--color-bleu-poste, #003da5);
  font-family: var(--font-text);
  font-size: 1.1rem;
  font-weight: 700;
  padding-left: 13px;
  border-left: 1px solid var(--color-lit2vin, #a71680);
}

#article-content blockquote cite {
  display: none;
}

#article-content .video {
  margin-block: 45px;
  display: flex;
  justify-content: center;
}

#article-content .video iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border-radius: 10px;
}

#article-content .document {
  margin-top: 35px;
  margin-bottom: 50px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas: "titre bouton";
  grid-gap: 7px 100px;
  padding: 26px 34px;
  background-color: var(--color-jaune-poste, #ffcb05);
  position: relative;
  z-index: 1;
}

#article-content .document.sur-titre {
  grid-template-areas: "sur-titre bouton" "titre bouton";
}

#article-content .document p {
  margin-bottom: 0;
}

#article-content .document .sur-titre {
  grid-area: sur-titre;
  color: var(--color-lit2vin, #a71680);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

#article-content .document .sur-titre::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='16' viewBox='0 0 15 16' fill='none'%3E%3Cg clip-path='url(%23clip0_1469_2363)'%3E%3Cpath d='M8.3334 8.90004V0.916707C8.3334 0.450041 7.96673 0.083374 7.50006 0.083374C7.0334 0.083374 6.66673 0.450041 6.66673 0.916707V8.90004L3.91673 6.15004C3.5834 5.81671 3.06673 5.81671 2.7334 6.15004C2.40007 6.48337 2.40007 7.00004 2.7334 7.33337L7.4834 12.0834L12.2334 7.33337C12.5667 7.00004 12.5667 6.48337 12.2334 6.15004C11.9001 5.81671 11.3834 5.81671 11.0501 6.15004L8.30007 8.90004H8.3334Z' fill='%23A71680'/%3E%3Cpath d='M0.833333 10.9167C1.3 10.9167 1.66667 11.2834 1.66667 11.7501V13.0834C1.66667 13.7334 2.18333 14.2501 2.83333 14.2501H12.1667C12.8167 14.2501 13.3333 13.7334 13.3333 13.0834V11.7501C13.3333 11.2834 13.7 10.9167 14.1667 10.9167C14.6333 10.9167 15 11.2834 15 11.7501V13.0834C15 14.6501 13.7333 15.9167 12.1667 15.9167H2.83333C1.26667 15.9167 0 14.6501 0 13.0834V11.7501C0 11.2834 0.366667 10.9167 0.833333 10.9167Z' fill='%23A71680'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1469_2363'%3E%3Crect width='15' height='15.8333' fill='white' transform='translate(0 0.083374)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  margin-right: 5px;
  position: relative;
  top: 2px;
}

#article-content .document .titre {
  grid-area: titre;
  color: var(--color-bleu-poste, #003da5);
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

#article-content .document .bouton {
  grid-area: bouton;
  margin-block: auto;
}

#article-content .document .bouton::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='144' height='147' viewBox='0 0 144 147' fill='none'%3E%3Cg opacity='0.3' clip-path='url(%23clip0_1469_2368)'%3E%3Cpath d='M79.6771 76.0861L54.8863 25.9088C53.4371 22.9757 49.9974 21.808 47.0687 23.255C44.1399 24.702 42.9774 28.1435 44.4266 31.0766L69.2174 81.2539L43.4192 72.4962C40.2922 71.4347 37.0497 73.0367 35.9929 76.1653C34.936 79.294 36.5404 82.5414 39.6675 83.6029L84.2279 98.7298L99.2878 54.1467C100.345 51.018 98.7402 47.7706 95.6132 46.7091C92.4861 45.6476 89.2436 47.2496 88.1868 50.3782L79.4679 76.1895L79.6771 76.0861Z' fill='white'/%3E%3Cpath d='M38.871 112.016C41.7997 110.569 45.2394 111.737 46.6886 114.67L50.829 123.051C52.8475 127.136 57.6944 128.781 61.7737 126.766L120.348 97.8264C124.427 95.811 126.065 90.9616 124.047 86.8762L119.906 78.4958C118.457 75.5627 119.62 72.1212 122.549 70.6743C125.477 69.2273 128.917 70.395 130.366 73.3281L134.507 81.7084C139.372 91.5553 135.356 103.444 125.524 108.302L66.9492 137.241C57.1171 142.099 45.2343 138.065 40.3693 128.218L36.2289 119.838C34.7797 116.905 35.9422 113.463 38.871 112.016Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_1469_2368'%3E%3Crect width='105' height='111' fill='white' transform='translate(0 46.5099) rotate(-26.2923)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  position: absolute;
  z-index: -1;
  left: -115px;
}

#article-content .a-noter {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin: 50px 30px;
}

#article-content .a-noter header {
  display: flex;
  gap: 16px;
  background-image: linear-gradient(to right, var(--color-lit2vin, #a71680) 24%, rgb(255 255 255 / 0%) 0%);
  background-position: bottom;
  background-size: 12px 3px;
  background-repeat: repeat-x;
  padding-bottom: 15px;
}

#article-content .a-noter header p {
  color: var(--color-bleu-poste, #003da5);
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}

#article-content .a-noter .contenu {
  color: var(--color-text-grey, #000);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

#article-content .a-noter > a {
  width: fit-content;
}

/* ARTICLE LIKES */
#like-article {
  padding-inline: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0 20px;
}

#like-article > * {
  grid-column: 3 / span 8;
}

#like-article > header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

#like-article h2 {
  color: var(--color-bleu-poste, #003da5);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

#like-article > .content {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

#like-article > .content .bouton.active {
  background: var(--color-bleu-poste, #003da5);
  color: var(--color-white, #fff);
}

/* ARTICLE COMMENTS */
#article-comments {
  display: none;
}
